<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gambler Card List</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
    <h1>Gambler Card List</h1>

    <div class="cardlist-wrapper">
        <div class="cardlist-names">
            <form action="/gambler/cardlist" method="get">
                <table class="cardlist-table">
                    <tr th:each="card : ${cardList}">
                        <td>
                            <input type="submit" th:value="${card.getName()}" name="cardName">
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div class="cardlist-description">
            <p th:text="${cardDescTitle}"></p>
            <p th:text="${cardDesc}"></p>
        </div>
    </div>
</body>
</html>