<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gambler Card List</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<h1>Create Deck</h1>

<div class="cardlist-wrapper">
    <div class="cardlist-names">
            <table class="cardlist-table">
                <tr th:each="card : ${cardList.getCardList()}">
                    <td>
                        <a th:href="@{/gambler/deck(cardName=${card.getName()})}">
                            <button th:text="${card.getName()}" th:class="card-btn"
                                    th:attr="id=${{card.getId()} == {currentCard.getId()} ? 'selected' : ''}">Card Name</button>
                        </a>
                    </td>
                </tr>
            </table>
    </div>

    <div class="cardlist-description">
            <h4 th:text="${currentCard.getDescriptionTitle()}"></h4>
            <p th:text="${currentCard.getDescription()}"></p>
    </div>
</div>
</body>
</html>