.cardlist-title {
}

.cardlist-wrapper {
    display: flex;
}

.cardlist-names {
    border:solid;
    float:left;
}

.cardlist-names table {
}

.cardlist-description {
    border:solid;
    float:left;
    width: 600px;
    padding-left: 10px;
    padding-right: 10px;
}

.card-btn {
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:30px;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}

.card-btn#selected {
  background:#fff;
  color:#1AAB8A;
}