.cardlist-title {
}

.cardlist-wrapper {
    display: flex;
}

.cardlist-names {
    border:solid;
    float:left;
}

.cardlist-names table {
}

.cardlist-description {
    border:solid;
    float:left;
    width: 600px;
    padding-left: 10px;
    padding-right: 10px;
}